.arrow {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.arrow-image {
  position: absolute;
  left: 80%;
  right: 3.08%;
  top: 86.56%;
  bottom: 6.82%;
  transition: filter 1s ease;
}

.arrow-image-light:hover {
  filter: invert(25%);
}

.arrow-image-dark {
  transition: filter 1s ease;
  filter: invert(100%);
}

.arrow-image-dark:hover {
  filter: invert(75%);
}

@media only screen and (max-width: 768px) {
  .arrow {
    position: fixed;
    bottom: 80px;
    right: 70px;
  }

  .arrow-image {
    height: 36px;
  }
}
