[class*='flex'] {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.mt-auto {
  margin-top: auto;
}

.mb-4 {
  margin-bottom: 4rem;
}

.px-8 {
  padding: 8px;
}

.px-12 {
  padding: 12px;
}

.px-16 {
  padding: 16px;
}
