.drive-background {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #d35c58;
  display: flex;
}

.driveover-container {
  position: absolute;
  left: 4vw;
  top: 20vh;
  /* width: 40%; */
}

.driveover-container p {
  margin: 0.5rem 0 0 0.5rem;
}

.image-tire {
  width: 30%;
}

.drive-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: max(5vw, 40px);
  margin: 0;

  color: #ffffff;
}

.drive-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: max(2.5vw, 20px);
  color: #ffffff;
}

.image-car {
  height: 100%;
}

.image-line {
  position: absolute;
  width: auto;
  left: 0%;
  right: 400px;
  top: 768px;
  /* bottom: 13.33%; */
}
.image-dot {
  /* position: absolute; */
  right: 400px;
  top: 760px;
}

.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 10px solid #ffffff;
  padding: 0;
  width: 100%;
}

.drive-pointer {
  width: calc(100vw - 400px - 3.89% - 4px);
}

@media only screen and (max-width: 768px) {
  .driveover-container {
    top: 11vh;
    left: 8vw;
  }
  .drive-title {
    width: 87.2vw;
    font-size: max(5.8vh, 40px);
  }
  .drive-text {
    width: 79vw;
    font-size: max(2.9vh, 20px);
    margin: none;
  }
  .image-car {
    width: 100vw;
    height: 50vh;
    top: 50vh;
    object-fit: cover;
  }
  .image-tire {
    width: 9.8vh;
    height: 9.8vh;
  }
  .drive-pointer {
    display: none;
  }
  .driveover-container > p {
    margin: 5px;
  }
}
