.drive-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #d35c58;
}

.image-tire {
  margin-left: 59px;
  margin-top: 237px;
  margin-bottom: 388px;
}

.drive-title {
  position: absolute;
  left: 3.89%;
  right: 64.03%;
  top: 53.22%;
  bottom: 27.22%;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;

  color: #ffffff;
}

.drive-text {
  position: absolute;
  left: 3.89%;
  right: 46.39%;
  top: 67.78%;
  bottom: 17.89%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #ffffff;
}

.image-car {
  width: 710px;
  height: 900px;
  position: absolute;
  right: 0%;
}

.image-line {
  position: absolute;
  width: 1171px;
  left: 3.96%;
  right: 29.1%;
  top: 84.65%;
  bottom: 13.33%;
}
.image-dot {
  position: absolute;
  left: 73.56%;
  top: 83.65%;
  bottom: 12.44%;
}
