.find-background {
  background-image: url('../images/where-to-find-us.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.find-body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: rgba(76, 125, 119, 0.5);
  display: flex;
  flex-direction: column;
  z-index: 1;
  display: flex;
}

.find-main-text {
  position: absolute;
  left: 5.69%;
  right: 19.65%;
  top: 79.33%;
  bottom: 10.11%;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: max(4vw, 34px);
  line-height: 84px;
  color: #ffffff;
}

@media only screen and (max-width: 800px) {
  .find-background {
    background-image: url('../images/where-to-find-us-mobile.png');
  }
}
