.info-background {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  background: #092342;
  text-align: center;
}

.info-title {
  position: absolute;
  /* left: 44.03%;
  right: 44.17%; */
  /* top: 2%; */
  /* bottom: 85.11%; */
  margin-top: 35px;
  width: 100%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 75px;
  /* identical to box height */
  color: #ffffff;
}

.info-text {
  position: absolute;
  /* display: block; */
  /* left: 9%;
  right: 9%; */
  /* top: 18%;
    bottom: 69.89%; */
  margin-top: 130px;
  width: 100%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.image-phone {
  position: absolute;
  width: 428.85px;
  height: 800px;
  left: 15%;
  top: 200px;
}

.image-messages {
  position: absolute;
  width: 428.85px;
  height: 356.29px;
  left: 15%;
  top: 461.71px;
}

.image-ticket {
  position: absolute;
  width: 463px;
  height: 800px;
  right: 15%;
  top: 195px;
}

.image-icons {
  position: absolute;
  width: 463px;
  height: 344px;
  right: 16.5%;
  top: 439px;
}
