.location-background {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  z-index: 1;
  display: flex;
}

.split {
  height: 100%;
  width: 50%;
  /* position: fixed; */
  top: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
  background-image: url('../images/location1.png');
  background-size: cover;
}

/* Control the right side */
.right {
  right: 0;
  background-image: url('../images/location2.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.location-body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: rgba(76, 125, 119, 0.6);
  display: flex;
  flex-direction: column;
  z-index: 1;
  display: flex;
}

.location-body2 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
  display: flex;
}

.help-location-text {
  position: absolute;
  width: 551px;
  height: 46px;
  left: 53px;
  top: 440px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;

  color: #ffffff;
}

.help-location-text2 {
  position: absolute;
  width: 644px;
  height: 136px;
  left: 53px;
  top: 555px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
}

.location-bar {
  position: absolute;
  left: 53px;
  top: 540px;
  z-index: 5;
  /* Marvelous */

  background: #f2d4bc;
  /* Creamy Beige */

  border: 10px solid #f2d4bc;
}

.location-dot {
  height: 23px;
  top: 558px;
  position: absolute;
  left: 910px;
  z-index: 6;
}
