.overview-body {
  position: relative;
  /* width: 1440px; */
  /* min-height: 10000px; */
  width: 100%;
  min-height: 100vh;

  background: #4c7d77;

  /* display: flex;
  flex-direction: row; */
  /* background: #4C7D77; */
  /* z-index: 1; */
}

.overview-left-image {
  position: absolute;
  top: 0.8%;
  left: 0%;
  z-index: 2;
  width: 49vw;
  height: 35vw;
}

.overview-left-background {
  position: absolute;
  left: 0%;
  top: 0%;
  bottom: 0%;
  z-index: 1;
  height: 62vw;
}

.overview-left-text {
  position: absolute;
  left: 4%;
  right: 50%;
  top: 36vw;
  /* bottom: 6%; */
  /* top: 500px; */
  z-index: 10;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 3vw;
  line-height: 3.5vw;

  color: #ffffff;
}

.overview-right-background {
  position: absolute;
  right: 0%;
  top: 32vw;
  z-index: 1;
  /* height: 19vw;
  width: 60vw; */
  width: 52.75vw;
  height: 30vw;
}

.overview-right-image {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 43.3vw;
  z-index: 0;
}

.overview-right-text {
  position: absolute;
  /* width: 507px; */
  /* height: 168px; */
  right: 4%;
  top: 34vw;
  /* bottom: 5%; */
  width: 36vw;
  height: 25vh;
  left: 55%;
  z-index: 2;

  font-family: Roboto;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 2vw;
  line-height: 3.5vw;

  color: #ffffff;
}
