@media only screen and (max-width: 414px) {
  .overview-body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #4c7d77;
    z-index: -2;
  }

  .overview-left {
    height: 100%;
  }

  .overview-left-image {
    position: absolute;
    top: 0px;
    left: 0%;
    z-index: 2;
    width: 49vw;
    height: 35vw;
  }

  .overview-left-background {
    position: absolute;
    left: 0%;
    top: 0px;
    bottom: 0%;
    z-index: 0;
    height: 62vw;
  }

  .overview-left-text {
    position: absolute;
    left: 7%;
    right: 2%;
    top: 290px;

    z-index: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;

    color: #ffffff;
  }

  .overview-right-background {
    position: absolute;
    right: 0%;
    top: 127px;
    z-index: 0;
    width: 52.75vw;
    height: 100vh;
  }

  .overview-right-image {
    position: absolute;
    top: 0px;
    left: 0%;
    width: 100vw;
    height: 43.3vw;
    z-index: -1;
  }

  .overview-right-text {
    position: absolute;
    left: 5%;
    right: 3%;
    top: 390px;
    width: 90%;

    z-index: -1;

    font-family: Roboto;
    font-style: normal;
    /* font-weight: bold; */
    font-size: 22px;
    text-align: end;

    color: #ffffff;
  }
}
@media only screen and (min-width: 414px) {
  .overview-body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #4c7d77;
    z-index: -2;
  }

  .overview-left {
    height: 100%;
  }

  .overview-left-image {
    position: absolute;
    top: 0.8%;
    left: 0%;
    z-index: 2;
    width: 49vw;
    height: 35vw;
  }

  .overview-left-background {
    position: absolute;
    left: 0%;
    top: 0%;
    bottom: 0%;
    z-index: 0;
    height: 62vw;
  }

  .overview-left-text {
    position: absolute;
    left: 4%;
    right: 50%;
    top: 33vw;

    z-index: 10;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: max(3vw, 27px);

    color: #ffffff;
  }

  .overview-right-background {
    position: absolute;
    right: 0%;
    top: 32vw;
    z-index: 0;
    width: 160.75vw;
    height: 30vw;
  }

  .overview-right-image {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 43.3vw;
    z-index: -1;
  }

  .overview-right-text {
    position: absolute;
    right: 4%;
    top: 32vw;
    width: 36vw;
    height: 25vh;
    left: 55%;
    z-index: 2;

    font-family: Roboto;
    font-style: normal;
    /* font-weight: bold; */
    font-size: max(2vw, 20px);
    line-height: 3.5vw;

    color: #ffffff;
  }
}
