.partners-background {
  background-image: url('../images/partners-pic.png');
  background-size: cover;
  background-position: bottom;
}

.partners-body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
  display: flex;
}

.partners-toptext {
  position: absolute;
  width: 30%;
  height: 50%;
  left: 10%;
  top: 50;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 3vw;
  line-height: 56px;
  color: #ffffff;
}

.links-container {
  position: absolute;
  width: 30vw;
  left: 5%;
  top: 40vh;
}

.partners-drive {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 5vw;
  margin: 0;

  color: #ffffff;
}

.return-start {
  position: absolute;
  width: 80%;
  height: 50%;
  left: 72%;
  top: 84%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 42px;

  color: #ffffff;
}

.kia {
  position: absolute;
  /* width: 182px;
  height: 170px; */
  /* width: 12%;
  height: 16%; */
  width: 12vw;
  /* height: 16vh; */
  left: 58%;
  top: 0.01%;
  z-index: 6;
}

.gdot {
  position: absolute;
  /* width: 243px;
  height: 135px; */
  /* width: 18%;
  height: 12%; */
  width: 18vw;
  /* height: 13vh; */
  left: 40%;
  top: 1.5%;
  z-index: 6;
}

.hannah {
  position: absolute;
  /* width: 13%;
  height: 6%; */
  width: 13vw;
  height: 6vh;
  left: 58%;
  top: 17%;
  z-index: 6;
}

.ray {
  position: absolute;
  /* width: 15%;
  height: 13%; */
  width: 15vw;
  /* height: 13vh; */
  left: 42%;
  top: 22%;
  z-index: 6;
}

.logo {
  margin-right: 1rem;
}
