.partners-background {
  background-image: url('../images/partners-pic.png');
  background-size: cover;
  background-position: bottom;
}

.partners-body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
  display: flex;
}

.partners-toptext {
  position: absolute;
  width: 30%;
  height: 50%;
  left: 10%;
  top: 50;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 3vw;
  line-height: 56px;
  color: #ffffff;
}

.partners-drive {
  position: absolute;
  width: 559px;
  height: 226px;
  left: 5%;
  top: 22%;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 5vw;
  line-height: 112px;

  color: #ffffff;
}

.return-start {
  position: absolute;
  width: 80%;
  height: 50%;
  left: 72%;
  top: 84%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 42px;

  color: #ffffff;
}

.kia {
  position: absolute;
  /* width: 182px;
  height: 170px; */
  /* width: 12%;
  height: 16%; */
  width: 12vw;
  height: 16vh;
  left: 58%;
  top: 0.01%;
  z-index: 6;
}

.gdot {
  position: absolute;
  /* width: 243px;
  height: 135px; */
  /* width: 18%;
  height: 12%; */
  width: 18vw;
  height: 13vh;
  left: 40%;
  top: 1.5%;
  z-index: 6;
}

.facebook {
  position: absolute;
  left: 6.37%;
  right: 92.11%;
  top: 84.11%;
  bottom: 11.39%;

  /* background: #FFFFFF; */
}

.twitter {
  position: absolute;
  left: 9.14%;
  right: 87.39%;
  top: 84.11%;
  bottom: 11.39%;
}

.linkedin {
  position: absolute;
  left: 14%;
  right: 55%;
  top: 84.11%;
  bottom: 11.39%;
}

.hannah {
  position: absolute;
  /* width: 13%;
  height: 6%; */
  width: 13vw;
  height: 6vh;
  left: 58%;
  top: 17%;
  z-index: 6;
}

.ray {
  position: absolute;
  /* width: 15%;
  height: 13%; */
  width: 15vw;
  height: 13vh;
  left: 42%;
  top: 13%;
  z-index: 6;
}

.instagram {
  position: absolute;
  left: 17.94%;
  right: 79.25%;
  top: 84.11%;
  bottom: 11.39%;
}
