.pv4ev-body {
  background: #4c7d77;
  /* background: #ffffff; */
  width: 100%;
  height: 100vh;
  position: relative;
  flex-direction: column;
  z-index: 1;
  display: flex;
}

.pv4ev-background {
  /* left: 0%; */
  /* top: 20%; */
  /* height: 100vh; */
  position: absolute;
  height: 100vh;
  right: 18.6vmin;
}

.pv4ev-solar {
  right: 0%;
  position: absolute;
  z-index: -1;
  height: 100%;
}

.pv4ev-pv4evsvg {
  z-index: 0;
  position: absolute;
  right: 40.9vh;
  bottom: 18vh;
  height: 61vh;
}

.pv4ev-hollow-text {
  position: absolute;
  left: 20px;
  /* right: 39.44%; */
  top: -70px;
  /* bottom: 55.22%; */

  font-family: Roboto;
  font-style: normal;
  /* font-weight: 900; */
  font-size: 270px;
  /* line-height: 316px; */

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;

  color: transparent;
}

.pv4ev-title-text {
  position: absolute;
  left: 100px;
  /* right: 77.92%; */
  top: 210px;
  /* bottom: 62.56%; */

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;

  color: #ffffff;
}

.pv4ev-main-text {
  position: absolute;
  left: 180px;
  /* right: 60.07%; */
  top: 230px;
  /* bottom: 42.67%; */

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 169px;

  /* identical to box height */

  color: #ffffff;
}

.pv4ev-secondary-text {
  position: absolute;
  left: 180px;
  /* right: 44.03%; */
  top: 500px;
  /* bottom: 28.22%; */
  text-align: left;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;

  color: #ffffff;
}

.pv4ev-scroll-text {
  position: absolute;
  /* left: 45.28%; */
  right: 19.72%;
  /* top: 89.33%; */
  top: 85%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #ffffff;
}

.back-arrow {
  z-index: 2;
  transform: rotate(90deg);
  position: absolute;
  left: 1em;
  top: 1em;
  /* right: 30vh; */
}

.arrow-button {
  background: none;
  border: none;
  margin: 0px;
  position: absolute;
  /* padding-top: 0px; */
}
