.pv4ev-body {
  background: #2d9f8f;
  /* background: #ffffff; */
  width: 100%;
  height: 100vh;
  position: relative;
  flex-direction: column;
  z-index: 1;
  display: flex;
}

.pv4ev-background {
  /* left: 0%; */
  /* top: 20%; */
  /* height: 100vh; */
  position: absolute;
  height: 100vh;
  right: 18.6vmin;
}

.pv4ev-solar {
  right: 0%;
  position: absolute;
  z-index: -1;
  height: 100%;
}

.pv4ev-pv4evsvg {
  z-index: 0;
  position: absolute;
  right: 40.9vh;
  bottom: 18vh;
  height: 61vh;
}

.pv4ev-hollow-text {
  position: absolute;
  left: 5vw;
  top: 5vh;
  margin: 0;

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  /* font-weight: 900; */
  font-size: max(18vw, 132px);
  /* line-height: 316px; */

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;

  color: transparent;
}

.pv4ev-container {
  position: absolute;
  left: 10vw;
  /* right: 77.92%; */
  top: 20vh;
  /* bottom: 62.56%; */
}

.pv4ev-title-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: max(3vw, 27px);

  color: #ffffff;
  margin-bottom: 3vh;
}

.pv4ev-main-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: max(10vw, 76px);
  color: #ffffff;
  margin: 0;
}

.pv4ev-secondary-text {
  text-align: left;

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: max(3vw, 27px);
  margin: 0;

  color: #ffffff;
}

.pv4ev-scroll-text {
  position: absolute;
  /* left: 45.28%; */
  right: 19.72%;
  /* top: 89.33%; */
  top: 85%;

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: max(3vw, 27px);

  color: #ffffff;
}

.back-arrow {
  z-index: 2;
  transform: rotate(90deg);
  position: absolute;
  left: 1em;
  top: 1em;
  /* right: 30vh; */
  cursor: pointer;
}

.arrow-button {
  background: none;
  border: none;
  margin: 0px;
  position: absolute;
  /* padding-top: 0px; */
}
