@media only screen and (min-width: 800px) {
  .pv-map-background {
    background-color: #70c6df;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 1;
  }

  .pv-map-text {
    margin: 40px;
  }

  .pv-map-bulb-container {
    padding-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 800px) {
  .pv-map-container h1 {
    color: white;
    font-size: 48px;
  }

  .pv-map-container {
    height: 100vh;
    position: relative;
    background-color: #50a6c3;
    display: flex;
    flex-direction: column;
  }

  .map-img-container {
    background-image: url('../images/TheRayMap-mobile.png');
    background-size: cover;
    height: 35%;
  }

  .bulb-img {
    width: 300px;
    position: absolute;
    z-index: 1;
    top: -15%;
    left: calc(50vw - 150px);
  }

  .pv-map-text-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 35%);
    background-color: #50a6c3;
    overflow: visible;
  }

  .pv-map-text {
    margin: 40px;
    margin-top: 0;
    padding-top: 100px;
    font-size: 18px;
  }
}
