.pv-miles-background {
  background: none;
  width: 100%;
  height: 100vh;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  z-index: 1;
  overflow: hidden;
}

.pv-miles-background::before {
  content: '';
  background-image: url('../images/Earth.png');
  background-size: cover;
  background-position: bottom;
  width: 100vh;
  height: 100vw;
  position: absolute;
  min-height: 100vh;
  z-index: 1;
  overflow: hidden;
  transform: rotate(90deg);
}

.pv-miles-textbox {
  position: absolute;
  right: 0;
  margin-top: 8em;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.pv-miles-textbox p {
  margin: 0;
}

.pv-text {
  color: white;
  line-height: 42px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.pv-text b {
  font-weight: 900;
}

.pv-text-huge {
  font-size: max(12vw, 90px);
}

.pv-text-regular {
  font-size: max(3vw, 27px);
}

.pv-text-big {
  font-size: max(6vw, 48px);
}

.pv-secondary-text {
  position: relative;
  width: 70%;
  left: 3%;
}

.line-height {
  line-height: 60px;
}

@media only screen and (min-width: 600px) {
  .pv-miles-background {
    background-image: url('../images/Earth.png');
    background-size: cover;
    background-position: initial;
    transform: rotate(0);
  }

  .pv-miles-background::before {
    display: none;
  }

  .pv-miles-textbox {
    width: 50%;
    margin-top: 0;
  }
}
