.pv-miles-background {
  background-image: url('../images/Earth.png');
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  z-index: 1;
  overflow: hidden;
}

.pv-miles-textbox {
  position: absolute;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pv-miles-textbox p {
  margin: 0;
}

.pv-text {
  color: white;
  line-height: 42px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.pv-text b {
  font-weight: 900;
}

.pv-text-huge {
  font-size: max(12vw, 90px);
}

.pv-text-regular {
  font-size: max(3vw, 27px);
}

.pv-text-big {
  font-size: max(6vw, 48px);
}

.pv-secondary-text {
  position: relative;
  width: 70%;
  left: 3%;
}

.line-height {
  line-height: 60px;
}
