.pv-num-box {
  color: #ffffff;
  text-align: center;
  width: 80%;
  margin: auto;
}

.pv-num-box h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 168px;
  font-weight: bold;
}

.pv-num-box p {
  margin: 0;
  font-size: 36px;
  line-height: 42px;
}

.pv-num-box-squish-text {
  width: 68%;
  margin: auto;
}
