.pv-stat-background {
  background-image: url('../images/SolarStatBackground.png');
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  z-index: 1;
  overflow: hidden;
}

.pv-solar-stat-background {
  background-image: url('../images/SolarStatBackground.png');
  background-size: cover;
}

.pv-ev-projection-background {
  background-image: url('../images/projection.png');
  background-size: cover;
}

.pv-ev-ports-background {
  background-image: url('../images/ports.png');
  background-size: cover;
}

.pv-ev-stat-background {
  background-image: url('../images/EVStatBackground.png');
  background-size: cover;
}

.pv-gradient-blue-background {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #70c6df 22.88%, rgba(255, 255, 255, 0) 117.39%), rgba(112, 198, 223, 0.44);
}

.pv-gradient-yellow-background {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #e9e969 0%, rgba(233, 233, 105, 0.828125) 50%, rgba(240, 210, 126, 0) 100%);
}

[class*='.pv-gradient'] {
  display: flex;
  flex-direction: column;
}
