/*
  Copying from Tailwind conventions: https://tailwindcss.com/
  Breakpoints:
  mobile
  640px tablet
  768px small screen
  1024px large screen
  1280px extra large screen
  1536px super wide screen
*/

/* For mobile phones: */
[class*='header-'] {
  font-size: max(3rem, 24px);
  /* font-weight: bold; */
}

@media only screen and (min-width: 640px) {
  .header-sm {
    font-size: max(2rem, 16px);
  }
  .header-lg {
    font-size: max(3rem, 24px);
  }
  .header-xl {
    font-size: max(8rem, 64px);
  }
}

@media only screen and (min-width: 768px) {
  .header-lg {
    font-size: max(4rem, 32px);
  }
  .header-xl {
    font-size: max(10rem, 80px);
  }
}

@media only screen and (min-width: 1024px) {
  .header-sm {
    font-size: max(3rem, 24px);
  }
  .header-lg {
    font-size: max(5rem, 40px);
  }
  .header-xl {
    font-size: max(12rem, 96px);
  }
}

@media only screen and (min-width: 1280px) {
  .header-lg {
    font-size: max(6rem, 48px);
  }
  .header-xl {
    font-size: max(15rem, 120px);
  }
}

@media only screen and (min-width: 1536px) {
  .header-sm {
    font-size: max(4rem, 32px);
  }
  .header-lg {
    font-size: max(7rem, 56px);
  }
  .header-xl {
    font-size: max(20rem, 160px);
  }
}
