.start-body {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #010101;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-image {
  position: absolute;
  width: 494.77px;
  height: 239px;
  top: 50px;
  z-index: 10;
  opacity: 100%;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
}

.start-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;

  color: #ffffff;
}

.start-deaths {
  position: absolute;
  width: 100px;
  top: 250px;
  right: 67.5%;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.start-waste {
  position: relative;
  width: 100px;
  text-align: center;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.start-impact {
  position: absolute;
  width: 100px;
  top: 250px;
  left: 60%;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.start-center {
  top: 250px;
  right: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.start-line1 {
  position: absolute;
  border: 1px solid white;
  width: 100%;
  left: 10%;
  bottom: 110px;
  z-index: 1;
}

.start-line2 {
  position: absolute;
  border: 1px solid white;
  height: 89px;
  left: 12%;
  bottom: 45px;
  z-index: 1;
}

.start-line3 {
  position: absolute;
  border: 1px solid white;
  height: 80%;
  right: 12%;
  bottom: 45px;
  z-index: 1;
}

.start-line4 {
  position: absolute;
  border: 1px solid white;
  height: 30%;
  right: 8%;
  bottom: 30px;
  z-index: 1;
}

.start-line5 {
  position: absolute;
  border: 1px solid white;
  width: 55%;
  right: 10%;
  bottom: 75px;
  z-index: 1;
}

.start-wheelright {
  position: absolute;
  border: 3px solid white;
  border-radius: 5px;
  top: 69%;
  right: 53%;
  width: 311px;
  height: 103px;
  background: transparent;
  z-index: 50;
}

.start-pv4ev {
  position: absolute;
  border: 3px solid white;
  border-radius: 5px;
  top: 69%;
  left: 53%;
  width: 311px;
  height: 103px;
  background: transparent;
  z-index: 50;
}

/* PV4EV below */

.start-body2 {
  background: #4c7d77;
  width: 100%;
  height: 100vh;
  position: relative;
}

.start-background {
  position: absolute;
  height: 100vh;
  right: 18.6vmin;
}

.start-solar {
  right: 0%;
  position: absolute;
  z-index: -1;
  height: 100%;
}

.start-pv4evsvg {
  z-index: 0;
  position: absolute;
  right: 40.9vh;
  bottom: 18vh;
  height: 61vh;
}

.start-hollow-text {
  position: absolute;
  left: 20px;
  top: -70px;

  font-family: Roboto;
  font-style: normal;
  font-size: 270px;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;

  white-space: nowrap;

  color: transparent;
}

.start-title-text {
  position: absolute;
  left: 100px;
  top: 210px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;

  color: #ffffff;
}

.start-main-text {
  position: absolute;
  left: 325px;
  top: 230px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 144px;
  line-height: 169px;

  /* identical to box height */

  color: #ffffff;
}

.start-secondary-text {
  position: absolute;
  top: 400px;
  text-align: left;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;

  color: #ffffff;
}

/* WheelRight below */

.start-title-background {
  background-image: url('../images/wheelright-page1.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.start-title-body {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
  display: flex;
  background: rgba(211, 92, 88, 0.44);
}

.start-title-border-text {
  position: relative;
  transform: translate(0%, -50%);
  display: inline-block;
  left: 1.18%;
  right: 1.11%;
  top: -15%;
  bottom: 59.44%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 19.5vw;
  line-height: 316px;

  align-items: center;
  text-align: center;

  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
}

.start-theray-text {
  position: absolute;
  white-space: nowrap;

  left: 46.26%;
  right: 43.4%;
  top: 30%;
  bottom: 66.78%;
  width: 100px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 3vw;
  line-height: 56px;

  color: #ffffff;
}

.start-title-text2 {
  position: absolute;
  left: 46.26%;
  right: 43.4%;
  top: 30%;
  bottom: 66.78%;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 8vw;
  line-height: 169px;
  /* identical to box height */
  color: #ffffff;
}

.start-tiresafety-title-text {
  position: absolute;
  left: 47%;
  right: 43.4%;
  top: 61.61%;
  bottom: 66.78%;
  white-space: nowrap;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 70px;

  color: #ffffff;
}

.start-scroll-title-text {
  position: absolute;
  left: 56.21%;
  right: 9.79%;
  top: 83.56%;
  bottom: 7.78%;
  white-space: nowrap;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 42px;

  color: #ffffff;
}
