@media only screen and (min-width: 640px) {
  .start-image {
    width: 10rem;
  }
  .start-button {
    width: 14rem;
    height: 3rem;
  }
}

@media only screen and (min-width: 768px) {
  .start-image {
    width: 12rem;
  }
  /* .start-button {width: 14rem; height: 3rem;} */
}

@media only screen and (min-width: 1024px) {
  .start-image {
    width: 16rem;
  }
  .start-button {
    width: 14rem;
    height: 4rem;
  }
}

@media only screen and (min-width: 1280px) {
  .start-image {
    width: 20rem;
  }
  .start-button {
    width: 15rem;
    height: 4rem;
  }
}

@media only screen and (min-width: 1536px) {
  .start-image {
    width: 28rem;
  }
  .start-button {
    width: 18rem;
    height: 5rem;
  }
}

.start-body {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #010101;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

[class*='.start-image'] {
  /* width: 494.77px; */
  z-index: 10;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
}

.start-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  padding: 0;
  margin: 0px 2rem;
  line-height: normal;
}

.start-deaths {
  position: absolute;
  width: 100px;
  top: 250px;
  right: 67.5%;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.start-waste {
  position: relative;
  width: 100px;
  text-align: center;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.start-impact {
  position: absolute;
  width: 100px;
  top: 250px;
  left: 60%;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.start-center {
  top: 250px;
  right: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.start-line1 {
  position: absolute;
  border: 1px solid white;
  width: 100%;
  left: 10%;
  bottom: 15%;
  z-index: 1;
}

.start-line2 {
  position: absolute;
  border: 1px solid white;
  height: 15%;
  left: 12%;
  bottom: 4%;
  z-index: 1;
}

.start-line3 {
  position: absolute;
  border: 1px solid white;
  height: 80%;
  right: 10%;
  bottom: 7%;
  z-index: 1;
}

.start-line4 {
  position: absolute;
  border: 1px solid white;
  height: 30%;
  right: 6%;
  bottom: 5%;
  z-index: 1;
}

.start-line5 {
  position: absolute;
  border: 1px solid white;
  width: 55%;
  right: 9%;
  bottom: 10%;
  z-index: 1;
}

.button-array {
  height: 30%;
}

.start-wheelright {
  border: 3px solid white;
  border-radius: 5px;
  background: black;
  margin-left: 2rem;
  margin-right: 2rem;
  z-index: 50;
  cursor: pointer;
}

.start-pv4ev {
  border: 3px solid white;
  border-radius: 5px;
  background: black;
  margin-left: 2rem;
  margin-right: 2rem;
  z-index: 50;
  cursor: pointer;
}

[class*='.start-button'] {
  width: 311px;
  height: 103px;
}

/* PV4EV below */

.start-body2 {
  background: #4c7d77;
  width: 100%;
  height: 100vh;
  position: relative;
}

.start-green-sheet {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
  background: #4c7d77;
}

.start-shadow-sheet {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background: rgba(0, 0, 0, 0.3);
}

.start-background {
  position: absolute;
  height: 100vh;
  z-index: 2;
  right: 18.6vmin;
}

.start-solar {
  right: 0%;
  position: absolute;
  z-index: 0;
  height: 100%;
  opacity: 0.75;
}

.start-pv4evsvg {
  z-index: 0;
  position: absolute;
  right: 40.9vh;
  bottom: 18vh;
  z-index: 2;
  height: 61vh;
}

.start-hollow-text {
  font-family: Roboto;
  font-style: normal;
  margin: 0;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;

  white-space: nowrap;

  color: transparent;
}

.start-title-text {
  position: absolute;
  left: 100px;
  top: 210px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;

  color: #ffffff;
}

.start-main-text {
  position: absolute;
  left: 325px;
  top: 230px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 144px;
  line-height: 169px;

  /* identical to box height */

  color: #ffffff;
}

.start-secondary-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  margin-top: -1rem;
}

/* WheelRight below */

.start-title-background {
  background-image: url('../images/wheelright-page1.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.start-title-sheet {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(211, 92, 88, 0.44);
}

.start-title-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  display: flex;
  margin-top: auto;
}

.start-title-border-text {
  /* position: relative; */
  /* transform: translate(0%, -50%); */
  display: inline-block;
  /* left: 1.18%;
  right: 1.11%;
  top: -15%;
  bottom: 59.44%; */
  margin: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  /* font-size: 19.5vw; */
  /* line-height: 316px; */

  align-items: center;
  text-align: center;

  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
}

.start-theray-text {
  position: absolute;
  white-space: nowrap;

  left: 46.26%;
  right: 43.4%;
  top: 30%;
  bottom: 66.78%;
  width: 100px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: max(3vw, 80px);
  line-height: 56px;

  color: #ffffff;
}

.start-title-text2 {
  position: absolute;
  left: 46.26%;
  right: 43.4%;
  top: 30%;
  bottom: 66.78%;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: max(8vw, 90px);
  line-height: 169px;
  /* identical to box height */
  color: #ffffff;
}

.start-tiresafety-title-text {
  /* position: absolute; */
  white-space: nowrap;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 70px;
  text-align: center;
  margin-top: -2rem;

  color: #ffffff;
}

.start-scroll-title-text {
  position: absolute;
  left: 56.21%;
  right: 9.79%;
  top: 83.56%;
  bottom: 7.78%;
  white-space: nowrap;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: max(2vw, 50px);
  line-height: 42px;

  color: #ffffff;
}
