.stats-body {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #092342;
  display: flex;
  flex-direction: column;
  z-index: 1;
  display: flex;
}

.stats-ellipse-open {
  position: absolute;
  width: 32.62px;
  height: 32.62px;
  border: 3px solid #ffffff;
  flex: 1;
}

.stats-ellipse-full {
  position: absolute;
  width: 32.62px;
  height: 32.62px;
  background: #ffffff;
  flex: 1;
}

.stats-main-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: max(10vw, 76px);

  color: #ffffff;
}

.stats-secondary-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: calc(10px + 1.8vw);
  /* flex-grow: 1; */
  margin: 0;

  color: #ffffff;
  align-self: center;
  text-align: center;
}

.stats-tertiary-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: calc(8px + 1.4vw);
  margin: 0;

  color: #ffffff;
  align-self: center;
  text-align: center;
}

.stats-image {
  position: absolute;
  width: 100%;
  opacity: 0.44;
}

.stats-lower-container {
  height: 60%;
  background: #092342;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.stats-image-container {
  height: 45%;
  position: relative;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.stats-lower-elements {
  height: 100%;
  display: flex;
  flex: 10;
  flex-direction: column;
  justify-content: center;
}

.stats-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60%;
  position: relative;
}
.stats-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  align-items: center;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: max(2vw, 20px);
  color: #ffffff;
}

hr {
  align-self: center;
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid #ffffff;
  margin: 1em 0;
  padding: 0;
  width: 50%;
}

.stats-border-container {
  border-color: white;
  border-style: solid;
  border-radius: 50%;
  width: calc(30px + 6vw);
  height: calc(30px + 6vw);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.stats-no-border-container {
  width: calc(30px + 6vw);
  height: calc(30px + 6vw);
  display: flex;
  align-items: center;
  justify-content: center;
}

.source {
  position: absolute;
  left: 1.75%;
  right: 73.54%;
  top: 75%;

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;

  color: #ffffff;
}
