.ticket-background {
  position: relative;
  /* width: 1440px; */
  /* min-height: 10000px; */
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: #092342;
  display: flex;
  flex-direction: row;
  z-index: 1;
  display: flex;
}

.split {
  position: fixed;
  height: 100%;
  width: 50%;
  top: 0;
  overflow-x: hidden;
}

.ticket-img-box {
  left: 0;
}

.ticket-text-box {
  right: 0;
}

.ticket-box {
  width: 84%;
  height: 95.22%;
  margin: 65px 56px 0px 56px;
  border: 10px solid #ffffff;
  border-bottom: none;
  box-sizing: border-box;
}

.ticket-loop {
  border: 5px solid #ffffff;
  box-sizing: border-box;
  border-radius: 13px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 63.47%;
  height: 12.6%;
  margin-top: 10%;
  bottom: 0;
}
