.title-background {
  background-image: url('../images/wheelright-page1.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.title-body {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
  display: flex;
  background: rgba(211, 92, 88, 0.44);
}

.title-border-text {
  position: relative;
  transform: translate(0%, -75%);
  display: inline-block;
  margin-bottom: 0%;
  left: 1.18%;
  right: 1.11%;
  top: -15%;
  bottom: 59.44%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 19.5vw;
  line-height: 316px;

  align-items: center;
  text-align: center;

  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
}

.wheelright-subheading {
  position: absolute;
  left: 46.26%;
  top: 30%;
}

.theray-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 3vw;
  margin: 0.5rem 0;
  color: #ffffff;
}

.uppertext {
  display: inline-block;
}

.title-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 9vw;
  /* identical to box height */
  color: #ffffff;
  margin: 1rem 0;
}

.tiresafety-title-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 3vw;
  margin: 0.5rem 0;

  color: #ffffff;
}

.scroll-title-text {
  position: absolute;
  left: 56.21%;
  right: 9.79%;
  top: 83.56%;
  bottom: 7.78%;
  white-space: nowrap;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 42px;

  color: #ffffff;
}
