.underinflated-body {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #873856;
}

.left-underinflated-color {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(135, 56, 86, 0.44);
}

.underinflated-left-image {
  background-image: url('../images/under-inflated-tire.jpg');
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0%;
  left: 0%;
  z-index: 1;
  width: 50%;
  height: 100%;
}

.underinflated-left-background {
  position: absolute;
  left: 0%;
  top: 0%;
  bottom: 0%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  display: flex;
  z-index: 0;
  height: 62vw;
}

.underinflated-left {
  position: absolute;
  width: 70%;
  left: 12.72%;
  right: 64.87%;
  top: 21.86%;
  bottom: 67.81%;
  color: white;
}

.underinflated-left p {
  margin: 0;
  font-size: max(2.5vw, 23.5px);
}

.underinflated-left .underinflated-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: max(5vw, 50px);
  margin: 1rem 0;

  color: #ffffff;
}

.underinflated-icon-container {
  position: absolute;
  left: 10.42%;
  right: 10.14%;
  top: 11.67%;
  bottom: 83.67%;
  color: white;
  width: 70%;
  font-size: max(2vw, 20px);
}

.underinflated-icon-row img {
  margin-left: 5%;
  margin-right: 10%;
  width: 12%;
}

.dangers-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
}

.underinflated-right {
  height: 100%;
  width: 50vw;
  transform: translate(50vw);
}

.underinflated-right-background {
  position: absolute;
  left: 40%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  width: 70%;
  height: 100%;
}

.underinflated-right-image {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 43.3vw;
  z-index: -1;
}

.underinflated-right-text {
  position: absolute;
  width: 507px;
  height: 168px;
  left: 1000px;
  top: 610px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .underinflated-body {
    display: flex;
    flex-direction: column;
  }

  .underinflated-left-image {
    width: 100%;
    position: static;
    background-image: url('../images/under-inflated-tire.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .underinflated-right {
    position: static;
    width: 100%;
    transform: none;
  }

  .underinflated-text {
    font-size: 40px !important;
  }

  .underinflated-icon-container {
    flex-direction: column;
  }
}
