.wheelright-background {
  background-image: url('../images/wheelright.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.wheelright-body {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
  display: flex;
  background: rgba(135, 56, 86, 0.44);
}

.wheelright-text {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 7%;
  bottom: 7%;

  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22vw;
  line-height: 24vw;

  display: flex;
  align-items: center;
  text-align: center;

  mix-blend-mode: normal;
  -webkit-text-stroke: 6px white;
  -webkit-text-fill-color: transparent;
}
